@import url(../assets/quickCSS/fonts.css);
@import url(../css/variables.css);


.updatesWrapper {
  padding: 20px 60px 0px 60px;
}

.updatesTimeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: max-content;
  &::before {
    content: '';
    position: absolute;
    left: 10px;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, var(--accent-gradient-start-soft) 50%, rgba(255, 255, 255, 0) 0%);
    background-size: 2px 12px;
    background-repeat: repeat-y;
    border-radius: 2px;
  }
  & .updateCard {
    position: relative;
    margin-left: 50px;
    padding: 12px 24px;
    background-color: var(--bg-card-alt);
    outline: 1px solid var(--accent-gray);
    border-radius: 24px;
    width: fit-content;
    min-width: 300px;
    max-width: 600px;
    font-family: Rubik;
    transition: all 0.3s ease;
    &::before {
      content: '';
      position: absolute;
      left: -38px;
      top: 26px;
      width: 12px;
      height: 12px;
      background-color: var(--accent-blue);
      border: 3px solid var(--bg-main);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: '';
      position: absolute;
      left: -38px;
      top: 26px;
      width: 16px;
      height: 16px;
      border: 2px solid var(--accent-blue-soft);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    &:hover {
      transform: translateY(-5px);
      outline: 1px solid var(--accent-blue);
          box-shadow: 0 4px 16px var(--accent-blue-shadow);
      transition: all 0.3s ease;
    }
    & .updateNumber {
      color: var(--accent-blue);
      text-shadow: 0px 2px 14px var(--accent-blue-shadow);
      width: fit-content;
      font-size: 14px;
      font-weight: 500;
    }
    & .updateDate {
      color: var(--text-gray-medium);
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 12px;
      font-family: consolas;
    }
    & h2 {
      font-weight: 400;
      color: var(--text-main);
      font-size: 20px;
      font-family: Varela;
    }
    & ul {
      list-style: none;
      padding: 0;
      & li {
        margin-top: 10px;
        color: var(--text-gray-dark);
        font-size: 15px;
      }
      & li:before {
        content: "> ";
        color: var(--accent-blue);
      }
    }

  }
}

@media (max-width: 1200px) {
  .updatesWrapper {
    padding:20px 10px;
  }
  .updatesTimeline {
    & .updateCard {
    max-width: fit-content;
    min-width: 220px;
      & .updateDate {
        right: 15px;
      }
    }
  }
}