:root {
  /* Kolory główne */
  --bg-main: #F9FAFB;
  --bg-main-transparent: #F9FAFBD3;
  --bg-welcome: #F4F8FF;
  --bg-card: #FAF9F6;
  --bg-card-alt: #FCFDFD;
  --bg-card-gray: #E5E7EB;
  --bg-dark: #092241;
  --bg-footer: #1F2937;

  /* Kolory głowne zmienne */
  --bg-main-rgb: 249, 250, 251;
  --bg-card-rgb: 250, 249, 246;
  --bg-card-alt-rgb: 252, 253, 253;
  --bg-card-gray-rgb: 229, 231, 235;
  --bg-dark-rgb: 9, 34, 65;
  --bg-footer-rgb: 31, 41, 55;
  
  /* Kolory tekstu */
  --text-main: #1A1110;
  --text-light: #FBEAEB;
  --text-light-white: #F8F8FF;
  --text-gray-lightest: #D1D5DB;
  --text-gray-light: #9CA3AF;
  --text-gray: #808080;
  --text-gray-medium: #5B6471;
  --text-gray-dark: #374151;
  
  /* Kolory akcent */
  --accent-blue: #3B82F6;
  --accent-blue-hover: #2563EB;
  --accent-blue-soft: #94baff;
  --accent-gradient-start: rgba(60, 126, 245, 1);
  --accent-gradient-end: rgba(77, 74, 230, 1);
  --accent-gradient-start-soft: rgb(223, 234, 254);
  --accent-gradient-end-soft: rgb(223, 227, 253);
  --accent-shadow-light: rgba(60, 126, 245, 0.15);
  --accent-shadow-medium: rgba(60, 126, 245, 0.4);
  --accent-bg-subtle: rgba(60, 126, 245, 0.05);
  --accent-red-shadow: rgba(239, 68, 68, 0.3);

  --accent-blue-shadow: rgba(60,126,245,0.10);
  --accent-neutral-shadow-medium: rgba(0,0,0,0.08);
  --accent-shadow-highlight:rgba(255,255,255,0.03);
  --accent-green-shadow: rgba(34, 197, 94, 0.1);
  
  /* Kolory pomocnicze */
  --accent-green: #26ecb1;
  --accent-purple: #a78bfa;
  --accent-red: #EF4444;
  --accent-red-hover: #c43636;
  --accent-red-bg: rgba(239, 68, 68, 0.1);
  --accent-red-border: #EF4444;
  --accent-red-text: #c43636;
  --accent-green-hover: #1ec48a;
  --accent-green-bg: rgba(34, 197, 94, 0.1);
  --accent-green-border: #22C55E;
  --accent-green-text: #16a34a;
  --accent-light-gray: #EBECEF;
  --accent-gold: #ffbf00;
  
  /* Kolory neutralne */
  --neutral-background: #ffffff;
  --neutral-light: #e5ecf5;
  --neutral-medium: #d1d5db;
  --neutral-dark: #1e293b;
  --shadow-color: rgba(0, 0, 0, 0.24);

  /* Kolory akcentowe - odcienie szarości */
  --accent-gray-lightest: #F9FAFB;
  --accent-gray-lighter:  #F3F4F6;
  --accent-gray-light:    #EBECEF;
  --accent-gray:          #D1D5DB;
  --accent-gray-medium:   #9CA3AF;
  --accent-gray-dark:     #6B7280;
  --accent-gray-darkest:  #374151;
}