@import url(/assets/quickCSS/fonts.css);
@import url(/assets/quickCSS/scrollbar.css);
body {
  overflow: hidden;
    background-color: #F9FAFB;
    padding: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  & h1, h2 {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  font-family: Rubik;
  font-weight: 500;
  gap: 5px;
  margin: 0;
  padding: 30px 0px;
  color: #1A1110;
  & input {
    font-family: Rubik;
    border: none;
    background-color: transparent;
    font-size: 32px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    display: flex;
  }
  & input::placeholder {
      font-weight: 400;
  }
  & input:focus{
    outline: none;
  }
  & button {
    color: #1A1110;
    background-color: #F1F0EB;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    font-family: Nunito;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
  }
 }
 & .dayOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  right: 0;
  top: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  height: 0px;
  overflow-y: scroll;
   transition: 0.3s;
  & button {
    border-top: #d1d0cc 1px solid;
    border-radius: 0;
    transition: 0.3s;
  }
  & button:first-child {
    border-radius: 12px 12px 0px 0px;
    border-top: none;
  }
  & button:last-child {
    border-radius:0px 0px  12px 12px ;
  }
  & button:hover {
    background-color: #dddcd6;
    transition: 0.3s;
  }  
 }
 
}
.dayOptions::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  display: none;
}


form {
  display: flex;
  gap: 10px;
  user-select: none;
  .day {  
   position: relative;
   font-family: Nunito;
   background-color: #FAF9F6;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 12px;
   padding: 30px;
   width: fit-content;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
    color: #1A1110;
    & h2 {
      width: fit-content;
      margin: 0;
    }
    & label {
      font-size: 16px;
      font-weight: 400;
    }
    .timeDiv {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 3px;
      position: relative;
      & p {
        color: #1A1110;
        margin: 0;
      }
    }
    & input[type=time] {
      width: fit-content;
      border-radius: 8px;
      border: none;
      padding: 5px 5px;
      background-color: #f1f0eb;
      cursor: pointer;
      user-select: none;
      font-family: Nunito;
      text-align: center;
      
    }
    & input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    }
    & input[type="time"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } 
    & input:focus{
    outline: none;
    }
    & input[type=time]:disabled {
      background-color: rgb(221, 230, 230);
      position: relative;
    }
    & .lock {
      display: none;
      position: absolute;
      top: 55%;     
      right: 5px;       /* ustaw lewy brzeg na środek rodzica */
      transform: translateY(-50%);
      color: #757584;
      cursor: pointer;
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24

    }
    & p {
      margin: 5px 0px 0px 0px;
      font-size: 13px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    & input[type=radio] {
      justify-self: center;
      margin: 0;
      padding: 0;
      cursor: pointer;
      accent-color: #3f78f3;
    }
  }
}
.buttons {
  margin: 10px 0px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  position: relative;
  button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: Nunito;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .clear {
    background-color: #E5E7EB;
    color: #374151;
    font-weight: bold;
  }
  .send {
    background: linear-gradient(90deg, rgba(60, 126, 245, 1) 0%, rgba(77, 74, 230, 1) 100%);
    color: #FBEAEB;
  }
  & .gmailOnly {
    position: absolute;
    display: flex;
    align-items: center;
    color: #1A1110;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    bottom: -37px;
    right: 12px;
    font-size: 15px;
    width: 100px;
    & img {
      width: 20px;
    }
  }
}

.finalTable {
  padding: 15px;
  background-color: #FFFFFF;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  & th, td {
     border-collapse: collapse;
     padding: 5px;
     text-align: center;
  }
  & th {
    color: #1A1110;
    border-radius: 12px 12px 0px 0px;

  }
  & td {
    color: #5e6064;
    border-radius: 0px 0px 12px 12px ;

  }
  & th:nth-child(even),
  td:nth-child(even) {
    background-color: #F9FAFB; /* Ciemniejszy odcień */
  }

  & th:nth-child(odd),
  td:nth-child(odd) {
    background-color: #FFFFFF; /* Jasny beż/kość słoniowa */
  }
  
}
#alertContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.alertSuccess {
  background-color: #4ADE80;
  background: linear-gradient(90deg,rgba(74, 222, 128, 1) 0%, rgba(65, 196, 113, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  width: fit-content;
  border-radius: 40px;
  gap: 10px;
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  transition: bottom 0.5s ease-in-out;
  & p {
    font-family: Nunito;
    margin: 0;
    color: #F9FAFB;
    font-weight: bold;
  }
  .outerDot {
    background-color: #F9FAFB ;
    border-radius: 50%;
    display: flex;
    padding: 3px;
  }
  & .successIcon {
  color: #4ADE80;
  font-size: 28px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
}

.alertError {
  background: #F87171;
  background: linear-gradient(90deg,rgba(248, 113, 113, 1) 0%, rgba(214, 101, 101, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  width: fit-content;
  border-radius: 40px;
  gap: 10px;
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  transition: bottom 0.5s ease-in-out;
  & p {
    font-family: Nunito;
    margin: 0;
    color: #F9FAFB;
    font-weight: bold;
  }
  .outerDot {
    background-color: #F9FAFB ;
    border-radius: 50%;
    display: flex;
    padding: 3px;
  }
  & .successIcon {
  color: #F87171;
  font-size: 28px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
}

.alertDay {
  background: #3B82F6;
  background: linear-gradient(90deg, rgba(59, 130, 246, 1) 0%, rgba(51, 114, 214, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  width: fit-content;
  border-radius: 40px;
  gap: 10px;
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  transition: bottom 0.5s ease-in-out;
  & p {
    font-family: Nunito;
    margin: 0;
    color: #F9FAFB;
    font-weight: bold;
  }
  .outerDot {
    background-color: #F9FAFB ;
    border-radius: 50%;
    display: flex;
    padding: 3px;
  }
  & .successIcon {
  color: #3B82F6;
  font-size: 28px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
}

