@import url(/assets/quickCSS/fonts.css);
@import url(/assets/quickCSS/scrollbar.css);

.tmp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d6dee88e;
    backdrop-filter: blur(10px);
    padding: 20px;
    height: 200px;
    color: #4F46E5;
    text-align: center;
    border-radius: 12px;
    & h2 {
        display: block;
        margin: 0;
        font-family: Nunito;
    }
    & span {
        font-size: 80px;
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    color: #1A1110;
    
}
header {
    box-sizing: border-box;
    padding: 0px 10px;
    width: 1400px;
    margin: 0;
    & h1 {
        font-weight: bolder;
        display: flex;
        font-family: Rubik;
        & span {
            font-size: 32px !important;
            color: #5850e6;
            text-shadow: 0px 0px 36px rgba(88, 80, 230, 1);
            font-variation-settings:
            'FILL' 1
        }
    }

}
main {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 12px ;
    background-color: white;
    margin: auto;
    width: 1400px;
    display: flex;
    font-family: Inter;
    gap: 10px;
    & hr {
        border-top: 1px solid #D6DEE8;
        border-radius: 30px;
    }
    & h2 {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: bolder;
        & .material-symbols-rounded {
            color: #5850e6;
        }
    }
    & .left {
        min-width: 930px ;
        flex-grow: 4;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 0.5fr 1fr; 
        gap: 10px;
        & .carData {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
        }
        & .carData, .passengers, .savedCars {
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            padding: 20px;
            background-color: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            & h3 {
                font-family: Nunito;
                margin-bottom: -10px;
            }
            & p {
                display: flex;
                max-width: 70%;
                font-family: Nunito;
                align-items: stretch;
                position: relative;
                transition: 0.3s;
                & input {
                    width: 100%;
                    background-color: #F8FAFC;
                    border: 2px solid #D6DEE8 ;
                    padding: 10px;
                    border-radius: 12px 0px 0px 12px;
                    font-size: 15px;
                }
                & input:focus {
                    outline: none;
                }
                /* & input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                     margin: 0;
                } */
                & .unit {
                    font-family: Nunito;
                    background-color: #D6DEE8;
                    padding: 10px 20px;
                    font-size: 15px;
                    border-radius: 0px 12px 12px 0px;
                    font-weight: bold;
                }
            }
            & .passengersCheckbox {
                display: flex;
                align-items: center;
                font-weight: 600;
                & input[type=checkbox] {
                    accent-color: #4F46E5;
                    cursor: pointer;
                    height: 16px;
                    width: 16px;

                }
            }

            & .fuelPrices {
                box-shadow: rgba(0, 0, 0, 0.15) -1.95px 0px 2.6px;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                width: 100px;
                & .fuelButton {
                    cursor: pointer;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    border: none;
                    color: #EAE8E1;
                    transition: 0.3s;
                    font-size: 20px;
                    & .fuelPrice {
                        pointer-events: none;
                        font-weight: 400;
                        font-size: 10px;
                    }
                }
                & .fuelButton:hover {
                    border-radius: 4px 0px 0px 4px;
                    margin-left: -15px;
                    z-index: 3;
                    transition: border-radius 0s, all 0.3s;
                    background-color: #4F46E5 !important;
                    box-shadow: 0px 0px 36px -1px rgba(79, 70, 229, 1);
                }
                & .fuelButton:active {
                    margin-left: -40px;
                }
            }
  
        }
    }
    & .right {
        position: relative;
        flex-grow: 1;
        .result {
            height: 100%;
            max-width: 441px;
            box-sizing: border-box;
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            padding: 20px;
            background-color: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .top {
                & .summaryData {
                display: flex;
                align-items: center;
                gap: 5px;
                & span {
                    user-select: none;
                    background-color: #F1F5F9;
                    padding: 20px;
                    border-radius: 50%;
                    font-size: 35px;
                }
                & /*icons*/ {
                    & .mode_heat {
                        color: #ff9a00;
                        text-shadow: 0px 0px 36px rgba(255, 154, 0, 1);
                        font-variation-settings:'FILL' 1
                    }
                    & .conversion_path {
                        color: #3b89c9;
                        text-shadow: 0px 0px 26px rgba(59, 137, 201, 1);
                        font-variation-settings:'FILL' 1
                    }
                    & .sell {
                        color: #3e9c35;
                        text-shadow: 0px 0px 36px rgba(62, 156, 53, 1);
                        font-variation-settings:'FILL' 1
                    }
                }
                & h3 {
                user-select: none;
                font-weight: 600;
                    & p{
                        margin: 0;
                        font-weight: bolder;
                        font-size: 22px;
                        & .summaryUnit {
                            font-weight: 600;
                            font-size: 15px;
                            color: gray;
                        }
                    }
                }
            }
            }
            & .bottom {
                & h3 {
                    font-weight: blod;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & .local_gas_station {
                        color: #5C7A99;
                        text-shadow: 0px 0px 36px rgba(92, 122, 153, 1);
                        font-variation-settings:'FILL' 1
                    }
                    & p{
                        margin: 0;
                        font-weight: bolder;
                        font-size: 22px;
                        & .summaryUnit {
                            font-weight: 600;
                            font-size: 15px;
                            color: gray;
                        }
                    }
                }
                & h2 {
                    font-weight: blod;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & .payments {
                        color: #25ad2c;
                        text-shadow: 0px 0px 36px rgba(37, 173, 44, 1);
                        font-variation-settings:'FILL' 1
                    }
                    & p{
                        margin: 0;
                        font-weight: bolder;
                        font-size: 25px;
                        & .summaryUnit {
                            font-weight: 600;
                            font-size: 17px;
                            color: gray;
                        }
                    }
                }
                & button {
                    border: none;
                    width: 100%;
                    padding: 15px;
                    border-radius: 12px;
                    background: linear-gradient(90deg,rgba(88, 80, 230, 1) 0%, rgba(125, 120, 222, 1) 100%);
                    cursor: pointer;
                    font-size: 20px;
                    color: #F1F5F9;
                    font-weight: bold;
                    box-shadow: 0px 8px 24px -10px rgba(88, 80, 230, 1);
                    transition: 0.3s;
                }
                & button:hover {
                    scale: 1.02;
                    transition: 0.3s;
                }

            }
        }
    }
}