header {
  padding: 5px;
  width: auto;
  & h1 {
    font-size: 25px;
    align-items: center;
  }
}
main {
  flex-direction: column;
  width: auto;
  & .left {
    min-width: auto;
    grid-template-rows: auto auto auto !important;
    grid-template-columns: 1fr !important;
    & .carData {
      grid-row: 1 / 2;
      grid-column: 1 / 1;
    }
  }
}

.fuelPrices {
  width: auto !important;
  max-width: 100px !important;
  min-width: 20% !important;
}

.bottom {
  & h3 {
    font-size: 18px !important;
    & .local_gas_station {
        font-size: 22px;
    }
    & p {
      font-size: 20px !important;
      & .summaryUnit {
        font-size: 14px !important;
      }
    }
  }
  & h2 {
     font-size: 20px !important;
    & p {
      margin: 0;
      font-weight: bolder;
      font-size: 24px !important;
      & .summaryUnit {
        font-weight: 600;
        font-size: 15px !important;
        color: gray;
      }
    }
  }
}
